.main, html {
    padding: 60px; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0; 
    gap: 20px;
    padding: 20px 0;
}

.profile {
    align-items: center;
}

.profile-container {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.profile-container IMG{
    width: 200px;
    height: auto; 
}

.profile-info {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    text-align: left;
}

.profile-info p {
    margin: 2px 0; 
}

/* .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
} */

.project-card {
    display: flex;
    gap: 5px;
    /* align-items: flex-start; */
    align-items: center;
    margin-bottom: 40px;
}

.project-img {
    /* flex: 0 0 auto;  */
    flex: 4; 
    display: flex;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* padding: 15px;  */
    box-sizing: border-box;
    /* justify-content: flex-start; */
    /* gap: 10px; */
    /* width: 50%; */
}

.project1-img {
    display: flex;
    width: 100%;
    /* gap: 5px;  */
    justify-content: center;
}

.project1-img img{
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
    justify-content: center;
}

.project2-img {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    /* justify-content: center; */
    
}

.project2-img img {
    width: 24%;
    height: auto;
    object-fit: cover;

}

.project-body {
    /* display: flex; */
    /* flex: 1;  */
    /* flex-direction: column; */
    /* width: 80%; */
    flex: 6;
    gap: 5px; 
}

.project-badge {
    display: inline-block;
    background-color: cadetblue;
    color: white;
    border-radius: 9px;
    padding: 6px 14px; 
    font-weight: bold;
}

.project-meta {
    color: gray;
    font-size: 14px;

}

.divider {
    border: 0; 
    border-top: 1px solid; 
}

.detail-list {
    padding-left: 20px;
    margin-bottom: 20px;
}

.detail-list li {
    margin-bottom: 5px;
}

.tech-stack-container {
    display: inline-block;
    background-color: antiquewhite;
    /* border: 1.5px solid tomato;  */
    border-radius: 9px;
    margin-bottom: 15px;
    padding: 6px 11px; 
}

.more-link a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid gray; 
    border-radius: 9px;
    font-weight: 500;
    padding: 6px 11px; 
}


